.login-container {
    .loader-icon {
        font-size: 20px;
        margin-bottom: 3px;
        color: red;
        animation: spin 1s infinite linear;
        margin-right: 10px;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }

    .header {
        height: 45px;
        text-align: right;
        // border: 1px solid red;
        padding: 0 100px;

        button {
            border: 1px solid black;
            padding: 3px 15px;
            margin-left: 15px;
            background-color: white;
            border-radius: 5px;
            margin-top: 5px;



        }



    }

    .back {
        cursor: pointer;
        text-decoration: underline;
    }

    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .welcom {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }

    .content-form {

        display: flex;
        flex-direction: column;
        gap: 15px;

        button {
            width: 100%;
            border-radius: 5px;
            height: 35px;
            border: none;
            background-color: black;
            margin: 20px 0;

            &:disabled {
                background: #dddddd;
                color: #afafaf;
                cursor: no-drop;
            }
        }

        .btn-login {
            color: White;
        }
    }
}